<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Merchies{% endblock %}</title>
    
    {% set inline_style = 'src/static/css/output.css' | inline_css %}
    {% if inline_style %}
    <style>{{ inline_style }}</style>
    {% else %}
    <link rel="stylesheet" href="/static/css/output.css">
    {% endif %}
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/static/fonts/inter-latin.woff2">

    {% block head %}{% endblock %}
</head>
<body class="bg-bg-main min-h-screen relative overflow-x-hidden flex flex-col">

    <!-- Global Background Decorations -->
    <div class="fixed inset-0 pointer-events-none overflow-hidden z-[-1] print:hidden">
        <div class="blur-decoration absolute -top-[102px] -left-[128px] w-[512px] h-[410px] bg-primary/5 rounded-full blur-[100px]"></div>
        <div class="blur-decoration absolute bottom-0 -right-[128px] w-[512px] h-[410px] bg-info-dark/5 rounded-full blur-[100px]"></div>
    </div>

    <!-- Main Content Area -->
    <main class="flex-grow flex flex-col">
        {% block content %}{% endblock %}
    </main>

    <!-- Global Footer -->
    {% block footer %}{% endblock %}
</body>
    {% block scripts %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRF-Token'] = '{{ csrf_token }}';
        });

        // Handle error status codes (400, 422, 500 etc) to show validation messages
        document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
            if (evt.detail.xhr.status >= 400) {
                evt.detail.shouldSwap = true;
                evt.detail.target = htmx.find("#auth-container") || evt.detail.target;
            }
        });
    </script>
    {% endblock %}

</html>
