<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Merchies{% endblock %}</title>
    
    {% set inline_style = 'src/static/css/output.css' | inline_css %}
    {% if inline_style %}
    <style>{{ inline_style }}</style>
    {% else %}
    <link rel="stylesheet" href="/static/css/output.css">
    {% endif %}
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/static/fonts/inter-latin.woff2">
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% block head %}{% endblock %}
</head>
<body class="bg-bg-main min-h-screen relative overflow-x-hidden flex flex-col">
    <div id="progress-bar" class="progress-bar"></div>

    <!-- Global Background Decorations -->
    <div class="fixed inset-0 pointer-events-none overflow-hidden z-[-1] print:hidden">
        <div class="blur-decoration absolute -top-[102px] -left-[128px] w-[512px] h-[410px] bg-primary/5 rounded-full blur-[100px]"></div>
        <div class="blur-decoration absolute bottom-0 -right-[128px] w-[512px] h-[410px] bg-info-dark/5 rounded-full blur-[100px]"></div>
    </div>

    <!-- Main Content Area -->
    <main class="flex-grow flex flex-col">
        {% block content %}{% endblock %}
    </main>

    <!-- Global Footer -->
    {% block footer %}{% endblock %}
</body>
    {% block scripts %}
    <script defer src="/static/js/htmx.min.js?v=2"></script>
    <script defer src="/static/js/htmx-init.js?v=4"></script>
        {% endblock %}

</html>
